<div class="col-md-4 divback">
	<div class="row">
		<div class="col-md-2">
			<%= image_tag current_user.avatar.url, width: "50" %>
		</div>
		<div class="col-md-10">
			<p><%= link_to "@#{current_user.username}", show_user_path(id: current_user.id), class: "no-underline" %></p>
		</div>
	</div>
	<div class="row center-it">
		<div class="col-md-4">
			Comments
		</div>
		<div class="col-md-4">
			Following
		</div>
		<div class="col-md-4">
			Followers
		</div>
	</div>
	<div class="row center-it">
		<div class="col-md-4">
			<%= link_to current_user.tweets.count, show_user_path(id: current_user.id), class: "no-underline" %>
		</div>
		<div class="col-md-4">
			<%= link_to current_user.following.count, following_path(id: current_user.id), class: "no-underline" %>
		</div>
		<div class="col-md-4">
			<%= link_to @followercount, followers_path(id: current_user.id), class: "no-underline" %>
		</div>
	</div>
</div>