<h1 class="bioRhyme">@<%= @user.username %>'s Profile</h1>

<p class="bioRhyme"><%= @user.name %></p>
<p class="bioRhyme"><%= @user.location %></p>
<p class="bioRhyme"><%= @user.bio %></p>

<% if @user.id != current_user.id %>
	<p class="bioRhyme">
		<% if current_user.following.include?(@user.id) %>
			<%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-success unfollow_btn" %>
		<% else %>
			<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
		<% end %>
	</p>
<% end %>

<div class="bioRhyme">
	<% @user.tweets.each do |tweet| %>
		<div>
			<p>@<%= tweet.user.username %></p>
			<p><%= tweet.message %></p>
		</div>
	<% end %>
</div>

